body {
    background-color: white;
}
.header {
    height: auto;
    width: 100%;
    padding: 0;
    background-color: white; 
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    margin-left: 40px;
}
.navegacion {
    display: flex;
    gap: 2rem;
}
.navegacion__enlace {
    color:gray;
    font-size: 1.6rem;
    text-decoration: none;
}
.navegacion__enlace:hover{
    color:darkslategray
}
#a3 {
    margin-right: 20px;
}

.section-main {
    margin:20px;
    display: flex;
    justify-content: space-between;    
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo__h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
.parrafo {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.2px;
    border-style: double;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.contacto-main {
    display: inline-block;
    text-align: center;
    font-size: 30px;
}
#contacto {
    text-decoration: none;
    margin: 20px;
    border: 4px solid black;
    border-radius: 20px;
    padding: 2px 10px;
    background-color: black;
    color: white;
}
#contacto:hover {
    color: black;
    background-color:white;
    padding:4px 20px;
    transition: 0.3s;
}
#info {
    text-decoration: none;
    margin: 20px;
    border: 4px solid black;
    border-radius: 20px;
    padding: 2px 10px;
    color: black;
}
#info:hover {
    color:white;
    background-color:black;
    padding:4px 20px;
    transition: 0.5s;
}
.container {
    margin: 100px;
    border: 2px solid grey;
    border-radius: 20px;
}

.main-image {
width: 600px;
height: 100%;
object-fit: cover;
}
.mas-info {
    display: inline-block;
    margin: 100px;
    background-color:grey;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}